.aboutt{
    height: 90vh;
    display: flex;
    overflow: hidden;
  
}

    @media screen and (max-width: 800px) {
.aboutt{       height: unset;
    
        
        
            flex-direction: column;
            
            align-items: center;
            justify-content: center;
        
           }}

    .aboutsvg{
      height: 120vh;
    
        width: 53vw;
    }
        @media screen and (max-width: 1050px) {
     .aboutsvg{      width: 120%;
        
              }}
              @media screen and (max-width: 800px) {
              .aboutsvg{ width: 100%;
               height: unset;
            
                  }
        
    }



.me{

    width: 53vw;
 

    background-color: white;
    margin-top: 1vw ;
   margin-left: -8vw;


    z-index: -1;
    opacity: 0.8;
}
   
    @media screen and (max-width: 1200px) {
.me{
      margin-bottom: 2%;
width: 60%;
padding-right: 1%;
margin-right: 1%; 
margin-left: 0;
margin-top: 3%;
z-index: 0;
font-size: 17px;

justify-content: center;
align-items: center; 
           }
         }
                     


           @media screen and (max-width: 800px) {
        .me{    margin-bottom: 2%;
            width: 90%;
            padding-right: 5%;
            margin-right: 0; 
            margin-left: 0;
            margin-top: 3%;
            padding-bottom: 3%;
        
            justify-content: center;
            align-items: center; 
            
            
                       }
   
}
.text {
  
  
  
   color: rgb(32, 28, 28); 
    font-size: 18px;
  
 position: absolute;
  
     justify-content: center;
     align-items: center;
  text-align: center;
     padding: 2vw ;
    

}

    @media screen and (max-width: 1300px ) {
 .text{      font-size: 19px;
       justify-content: center;
       align-items: center; 
         }}
         @media screen and (max-width: 1200px ) {
            .text{   font-size: 16px;
              }}
                @media screen and (max-width: 1130px ) {
                  .text{  font-size: 15px;
              }}
              @media screen and (max-width: 1020px ) {
               .text{  font-size: 14px;
                 }}
         @media screen and (max-width: 980px) {
            .text{      
            font-size: 13px;
            }
                       }
                       @media screen and (max-width: 900px) {
                        .text{            
                        font-size: 13px;
                     
                           }    }
                       @media screen and (max-width: 820px) {
                        .text{ 
                        font-size: 12px;
                       position: relative;

                        }
                                   }
                                

 