.main{
    height: 100vh;
    background-image: url(./images/bg.jpg);
   background-size: auto;
   display: flex;
}
   @media screen and (max-width: 1200px) {
     .main{
    height: unset;
     }
     }
 
.sv{  
   width: 50vw;
   
  
   padding-top: 25vh;
}
   @media screen and (max-width: 1120px) {
.sv{    padding-top: 200px;

    } }
  
   @media screen and (max-width: 800px) {
   .sv{ padding-top: 100px;

     }
  
}
.writ{

   padding-top: 30vh;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    width: 50%;
}
    @media screen and (max-width: 1100px) {
 .writ{     
      padding-top: 260px;
    }}
    @media screen and (max-width: 800px) {
     .writ{ 
      padding-top: 180px;
      }}
      @media screen and (max-width: 450px) {
      .writ{
        padding-top: 120px;
        }
}

.hy{
  font-size: 5vw;
  
   

}
.senior{
  font-size: 3vw;
  
}
.senior1{
  font-size: 2.4vw;
  
}
.blink{
  font-size: 2.1vw;
   color:  #939598;
     
  

}
.react-rotating-text-cursor {

    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  }


   
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  