.projects-page{
   
  height: 135vh;
       align-items: center;
       
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0;
       
}
        @media screen and (max-width: 1366px) {
 .projects-page{         height: unset;
       
            }
        }
        h2 {
            text-shadow: 2px 2px 4px #BBC9DD; 
          
            color: #D7FFFE; 
            font-size: 2em;
           
        }
 .te{
            font-weight: bolder;
            font-size: 2em; 
        text-align: center;
       
            color: white;
            padding-top: 1%;
            
    justify-content: center;
            
 }
            @media screen and (max-width: 800px) {
  .te{              font-size: 1.5em;
                padding-top: 0%;
                text-align: center;
           
                }
        }
     
.gitwork{
    margin-top: 50px;
}
   
  
.work{
   
    text-shadow: 2px 2px 4px #BBC9DD; 
  padding-left: 200px;
    color: #D7FFFE; 
    font-size: 1.5em;
    
}
    @media screen and (max-width: 1100px) {
 .work{       font-size: 1.2em;
        padding-left: 0px;
        }
}

.directory-project{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    @media screen and (max-width: 800px) {
 .directory-project{           
        justify-content: center;
        align-items: center;
       
        }

        }

        .buttun{
            padding: 0.5%;
            padding-left: 2%;
            padding-right: 2%;
            font-size: larger;
            margin-left: 3%;
           
        }
            @media screen and (max-width: 800px) {
         .buttun{   
                margin: 4%;
               
                }

        }

                

 