.cofee{
    animation: cofee 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  
    margin-top: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.9em;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   
    font-family: 'Indie Flower', cursive;
    color: antiquewhite
 !important;

}
@media screen and (max-width: 364px) {
    .cofee{
    font-size: 1em;
    margin-top: 5em;
    }
       }

       @keyframes cofee {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }